/* Default styles for larger screens (Desktop) */

/* Tablets (768px - 1024px) */
@media screen and (max-width: 1024px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .categories-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .products-continer {
    grid-template-columns: repeat(2, 1fr);
  }

  .home-text h1 {
    font-size: 28px;
  }
}

/* Mobile Phones (max-width: 768px) */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .navbar {
    display: none; /* Hide navbar on small screens */
  }

  .hamburger-menu {
    display: block; /* Show menu icon */
  }

  .categories-container,
  .products-continer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .home-text h1 {
    font-size: 24px;
  }
}

/* Small Phones (max-width: 480px) */
@media screen and (max-width: 480px) {
  .home-text h1 {
    font-size: 20px;
  }

  .btn {
    padding: 10px 15px;
    font-size: 14px;
  }

  .profile img {
    width: 30px;
    height: 30px;
  }
}
